
*
{
  vertical-align: top;
}

h3
{
  margin-top: 0;
  padding-top: 0;
  font-size: 1.5em;
}

.dollarAmount
{
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.4em;
}

.total
{
  border-top: solid;
  border-width: 1px;
  border-color: black;
}